body {
    color: #4c5a7d;
}

.navbar-brand h1 {
    font-weight: bold;
    color: #eea412;
    display: inline;
}

#navbarLogo{
    max-height: 100px;
    margin-right: -45px;
}

.tbMargin{
    margin-top: 25px;
    margin-bottom: 25px;
}

/*Course Cards*/
.course-br{
    min-height: 304px;
}

/*Blog Cards*/
.blog-item{
   margin: 10px;
}